.biz-pricing {
  width: 270px;
  padding-top: 37px;

  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
}

.biz-pricing__title {
  margin: 0;
  margin-bottom: 40px;

  text-align: center;
  color: $orange;

  @include font(24px, 1);
}

.biz-pricing__list,
.biz-pricing__offer {
  margin: 0;
}

.biz-pricing__list {
  padding: 0 25px;
}

.biz-pricing__service,
.biz-pricing__offer {
  position: relative;

  color: $grey;

  @include font(16px, 1.38, 300);
}

.biz-pricing__service {
  &::before {
    top: -12px;

    width: 100%;
    height: 1px;

    background-color: $black;
    opacity: 0.05;

    @include pseudo;
  }
}

.biz-pricing__offer {
  margin-bottom: 22px;

  &:last-child::before {
    bottom: -12px;

    width: 100%;
    height: 1px;

    background-color: $black;
    opacity: 0.05;

    @include pseudo;
  }
}

.biz-pricing__button {
  width: 100%;
  margin-top: 21px;
  padding: 18px 0;

  color: $blue;
  text-transform: uppercase;

  background-color: $grey-blue-light;
  border: 0;

  @include font(16px, 1.5, 700);

  &:hover,
  &:focus {
    background-color: $blue-light;
  }

  &:active {
    color: rgba($blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .biz-pricing {
    width: 688px;
    padding-top: 52px;

    border-radius: 30px;
  }

  .biz-pricing__title {
    margin-bottom: 60px;

    @include font(45px, 1);
  }


  .biz-pricing__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 90px;
  }

  .biz-pricing__service,
  .biz-pricing__offer {
    width: 50%;

    @include font(22px, 1.27);
  }

  .biz-pricing__service {
    &::before {
      top: -14px;

      width: 506px;
    }

    &:last-of-type::after {
      bottom: 16px;
      left: 0;

      width: 506px;
      height: 1px;

      background-color: $black;
      opacity: 0.05;

      @include pseudo;
    }
  }

  .biz-pricing__offer {
    margin-bottom: 30px;

    text-align: right;

    &:last-child::before {
      display: none;
    }
  }

  .biz-pricing__button {
    padding: 42px 0;
    margin-top: 33px;

    text-transform: none;

    @include font(24px, 1);
  }
}

@media (min-width: $desktop-width) {
  .biz-pricing {
    width: 750px;
  }

  .biz-pricing__list {
    padding: 0 60px;
  }

  .biz-pricing__service {
    &::before {
      width: 630px;
    }

    &:last-of-type::after {
      width: 630px;
    }
  }
}
