.btn-with-arrow {
  position: relative;

  display: block; /* Вопрос - для кнопок типовой вариант использовать инлайн-блок?(так было на 1м курсе) */
  padding: 24px;
  text-align: left;

  color: $blue;

  background-color: $gold;
  border: 0;
  border-radius: 10px;

  @include font(18px, 1, 700);

  &::before {
    top: 26px;
    right: 24px;

    color: $blue;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid $blue;

    @include pseudo;
  }
}

@media (min-width: $tablet-width) {
  .btn-with-arrow {
    padding: 31px 34px 32px;
    border-radius: 20px;

    @include font(24px, 1);

    &::before {
      top: 34px;
      right: 34px;
    }
  }
}
