.btn-with-arrow {
  position: relative;

  display: block;
  padding: 23px 24px 21px;

  text-align: left;
  color: $blue;

  background-color: $gold;
  border: 0;
  border-radius: 10px;

  @include font(18px, 1, 700);

  &::before {
    top: 25px;
    right: 23px;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid $blue;

    @include pseudo;
  }

  &:hover,
  &:focus {
    background-color: $mango-light;
  }

  &:active {
    color: rgba($blue, 0.3);

    &::before {
      border-left-color: rgba($blue, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .btn-with-arrow {
    padding: 27px 34px 30px;

    border-radius: 20px;

    @include font(24px, 1);

    &::before {
      top: 33px;
      right: 35px;
    }
  }
}
