.catalog__container {
  position: relative;
  z-index: 0;

  width: 320px;
  margin: 0 auto;
  padding: 47px 25px 60px;
  margin-top: -20px;

  background-color: $blue-light;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    width: auto;
    padding: 105px 0 110px;
    margin-top: -55px;
  }

  .catalog__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    padding: 125px 0;
  }

  .catalog__wrapper {
    width: 1440px;
    padding: 0 60px;
    display: flex;
    align-items: flex-start;
  }

  .catalog__column {
    flex-grow: 1;
    margin-right: 85px;
    order: -1;
  }
}
