.companions-filter {
  background-color: $gold;
  border-radius: 20px;
  padding: 25px 20px 22px;
  margin-bottom: 28px;
}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
