.companions--index {
  position: relative;
  z-index: 4;

  width: 320px;
  margin: 0 auto;
  margin-top: -30px;
  padding: 100px 25px 31px;
  overflow: hidden;

  background: $grey-blue;
  border-radius: 0 0 30px 30px;
}

.companions--index .companions__wrapper {
  position: relative;

  &::before {
    top: -31px;
    right: 0;
    z-index: -1;

    width: 143px;
    height: 143px;

    background: url("../img/background/smolov-back-desktop@1x.png") no-repeat;
    border-radius: 10px;

    @include pseudo;
  }

  &::after {
    top: 241px;
    left: -35px;
    z-index: -1;

    width: 71px;
    height: 71px;

    background: url("../img/background/rogovaya-back-mobile@1x.png") no-repeat;

    @include pseudo;
  }
}

.companions__title {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  margin-left: 25px;

  color: $orange;

  @include font(24px, 1);

  &::before {
    top: -31px;
    left: -50px;
    z-index: -1;

    width: 113px;
    height: 132px;

    background-color: $bg-blue;
    border-radius: 20px;

    @include pseudo;
  }
}

.companions__text {
  width: 215px;
  margin: 0;
  margin-bottom: 21px;
  margin-left: 25px;

  color: $white;

  @include font(16px, 1.38, 300);

  br {
    display: none;
  }
}

.companions__lead {
  display: block;
  margin-bottom: 58px;
  margin-left: 25px;

  color: $white;

  @include font(16px, 1.38, 700);

  br {
    display: none;
  }
}

.companions__list {
  display: flex;
  flex-direction: column;

  @include ul-reset;
}

.companions__btn {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .companions--index {
    width: auto;
    padding: 192px 0 88px;
    margin-top: -55px;

    border-radius: 0 0 60px 60px;
  }

  .companions--index .companions__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 75px;

    &::before {
      top: 260px;
      left: 40px;
    }

    &::after {
      top: -57px;
      right: 75px;
      left: auto;

      width: 285px;
      height: 285px;

      background: url("../img/background/rogovaya-back-desktop@1x.png") no-repeat;
      border-radius: 10px;
    }
  }

  .companions__title {
    margin-bottom: 59px;
    margin-left: 0;

    @include font(45px, 1);

    &::before {
      top: -57px;
      left: -35px;

      width: 213px;
      height: 213px;
    }
  }

  .companions__text {
    width: 425px;
    margin-bottom: 40px;
    margin-left: 0;

    @include font(28px, 1.18);

    br {
      display: initial;
    }
  }

  .companions__lead {
    margin-left: 0;
    margin-bottom: 61px;

    @include font(21px, 1.19);

    br {
      display: initial;
    }
  }

  .companions--index .companions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .companions__btn {
    margin-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .companions--index {
    padding: 180px 0 131px;
  }

  .companions--index .companions__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding-right: 60px;
    padding-left: 132px;

    &::before {
      top: 8px;
      left: 547px;
    }

    &::after {
      top: 260px;
      left: 191px;
    }
  }

  .companions--index .companions__list {
    align-self: flex-start;
    margin-top: 7px;
  }

  .companions__title {
    &::before {
      left: -71px;
    }
  }

  .companions__lead {
    margin-bottom: 0;
    padding-bottom: 170px;
  }

  .companions__btn {
    position: absolute;
    bottom: 2px;
    left: 132px;

    width: 280px;
  }
}
