.destination-icon {
  margin-bottom: 17px;
}

.destination-icon__text {
  margin: 0;
  color: $grey;
  margin-bottom: 17px;

  @include font(15px, 1.2);
}

.destination-icon__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.destination-icon__image {
  margin-right: 15px;
}

.destination-icon__tooltip {
  margin: 0;
  color: $blue;

  @include font(15px, 1.2, 500);
}

.destination-icon--has-tooltip {
  .destination-icon__item {
    position: relative;

    &:hover,
    &:focus {
      .destination-icon__tooltip {
        display: block;
      }
    }
  }

  .destination-icon__tooltip {
    position: absolute;

    display: none;
    padding: 20px;

    color: $white;

    background-color: $bg-black-blue;
    border-radius: 4px;

    @include font(20px, 1.2, 400);

    &::before {
      top: -8px;
      left: 50%;

      border-right: 8px solid transparent;
      border-bottom: 8px solid $bg-black-blue;
      border-left: 8px solid transparent;

      @include pseudo;
    }
  }
}

@media (min-width: $tablet-width) {
  .destination-icon {
    display: flex;
    flex-wrap: wrap;
  }

  .destination__item:not(:last-child) {
    margin-right: 30px;
  }

  .destination-icon__text {
    width: 100%;
  }

  .destination-icon__image {
    width: 35px;
    height: 24px;
    margin-right: 11px;
  }
}

@media (min-width: $desktop-width) {
  .destination-icon {
  }


  .destination__item:not(:last-child) {
    margin-right: 0;
  }

  .destination-icon__image {
    margin-right: 20px;
  }
}
