.destination-icon {
  font: 1em sans-serif;
}

@media (min-width: $tablet-width) {
  .destination-icon {
    font: 1em sans-serif;
  }
}

@media (min-width: $desktop-width) {
  .destination-icon {
    font: 1em sans-serif;
  }
}
