.login-btn {
  position: relative;
  display: inline-block;
  padding: 6px 39px 4px;

  vertical-align: bottom;
  color: $black-blue;
  text-transform: uppercase;

  background-color: $gold;
  border: 0;
  border-radius: 20px;

  @include font(17px, 1.76, 700);

  &:hover,
  &:focus {
    background-color: $mango-light;
  }

  &:active {
    color: rgba($black-blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .login-btn {
    padding: 10px 29px;

    border-radius: 25px;

    @include font(20px, 1.5);
  }
}
