.main-nav {
  width: 320px;
  padding: 45px 25px 30px;

  background-color: $white;
}

.main-nav__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: -95px;
  right: 0;

  border: 0;
}

.main-nav__list {
  align-self: center;
}

.main-nav__login-btn {
  margin-top: 55px;

  text-align: center;

  border-radius: 25px;
}

.main-nav__contacts {
  margin-top: 50px;
}

.main-nav__contacts .contacts__tel,
.main-nav__contacts .contacts__email {
  color: $grey-blue;
}

.main-nav__social {
  align-self: center;
  margin-top: 30px;
}


@media (max-width: 1439px) {
  .main-nav--opened.main-nav--nojs {
    position: relative;
    top: unset;
    bottom: -31px;
    left: -25px;
  }

  .main-nav--opened {
    position: absolute;
    top: 73px;
    bottom: unset;
    left: 0;
  }

  .main-nav--closed {
    position: absolute;
    top: -1000%;
    bottom: unset;
    left: 0;
  }

  .main-nav--closed .main-nav__toggle {
    top: unset;
    bottom: -83%;

    width: 25px;
    height: 11px;

    background-color: transparent;

    &::before {
      top: 0;
      left: 0;

      width: 25px;
      height: 3px;

      background-color: $white;
      border-radius: 10px;
      box-shadow: 0 8px 0 0 $white;

      @include pseudo;
    }
  }

  .main-nav--opened .main-nav__toggle {
    width: 19px;
    height: 19px;

    background-color: transparent;
    /* Вопрос - без этого появляется серый куб, почему? */

    &::before,
    &::after {
      top: 9px;
      left: -6px;

      width: 25px;
      height: 2px;

      background-color: $white-grey;

      @include pseudo;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    padding: 60px 0 75px;
  }

  .main-nav__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 100px;
  }

  .main-nav__list {
    align-self: flex-start;
  }

  .main-nav__toggle {
    right: 370px;
  }

  .main-nav__login-btn {
    position: absolute;

    margin: 0;
  }

  .main-nav--opened.main-nav--nojs .main-nav__login-btn {
    top: -134px;
    right: 40px;
  }

  .main-nav__contacts {
    margin-top: 145px;
  }

  .main-nav__social {
    align-self: flex-start;
    margin-top: 115px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .main-nav--opened.main-nav--nojs {
    bottom: -42px;
    left: -40px;
  }

  .main-nav--closed .main-nav__toggle {
    bottom: -51%;
  }

  .main-nav__login-btn {
    top: unset;
    right: 40px;
    bottom: -54%;
  }

  .main-nav--opened .main-nav__login-btn {
    top: -110px;
    right: 40px;
    bottom: unset;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin: 0;
    padding: 0;

    background-color: unset;
  }

  .main-nav__wrapper {
    flex-direction: row;
    width: auto;
    padding-right: 0;
    padding-left: 105px;

    &::before {
      top: 23px;
      left: 0;

      width: 60px;
      height: 2px;

      background-color: $white;
      border-radius: 1px;

      @include pseudo;
    }
  }

  .main-nav__toggle,
  .main-nav__social {
    display: none;
  }

  .main-nav__login-btn {
    position: initial;

    order: 1;
    margin: 0;
  }

  .main-nav__contacts {
    flex-direction: row;
    margin: 0;
    margin-left: auto;
  }

  .main-nav__contacts .contacts__tel-svg,
  .main-nav__contacts .contacts__email-svg {
    display: none;
  }


  .main-nav__contacts .contacts__tel {
    margin: 0;

    &::before {
      top: 0;
      left: 0;

      width: 50px;
      height: 50px;

      background-color: $orange;
    }

    &::after {
      width: 50px;
      height: 50px;

      background: url("../img/svg/topmenu-phone.svg") no-repeat 50% 50%;
      background-size: 18px 18px;

      @include pseudo;
    }

    &:hover::before,
    &:focus::before {
      background-color: $deep-orange;
    }
  }

  .main-nav__contacts .contacts__email {
    &::before {
      top: 0;
      left: 0;

      width: 50px;
      height: 50px;

      background-color: $mango-light;
    }

    &::after {
      width: 50px;
      height: 50px;

      background: url("../img/svg/topmenu-mail.svg") no-repeat 50% 50%;
      background-size: 18px 14px;

      @include pseudo;
    }

    &:hover::before,
    &:focus::before {
      background-color: $orange;
    }
  }

  .main-nav__contacts .contacts__tel,
  .main-nav__contacts .contacts__email {
    font-size: 0;
    /* Вопрос - норм так? */

    &::before {
      margin: 0;
    }

    &:active {
      opacity: 1;

      &::after {
        opacity: 0.3;
      }
    }
  }
}
