.main-menu {
  @include ul-reset;
}

.main-menu__item {
  margin-left: -4px;
  overflow: hidden;

  text-align: center;
  text-transform: uppercase;
}

.main-menu__link {
  color: $grey-blue;

  @include font(30px, 1.2, 500);

  &:hover[href],
  &:focus[href] {
    color: $gold;
  }

  &:active[href] {
    color: rgba($gold, 0.3);
  }
}

.main-menu__link span {
  position: relative;

  display: inline-block;

  padding: 0 4px;
  white-space: nowrap;

  transition: transform 0.3s;
}

.main-menu__link span::before {
  content: attr(data-hover);
  position: absolute;
  top: 100%;

  font-weight: 700;

  transform: translate3d(0, 0, 0);
}

.main-menu__link:hover[href] span,
.main-menu__link:focus[href] span {
  transform: translateY(-100%);
}


@media (min-width: $tablet-width) {
  .main-menu__item {
    text-align: left;
  }

  .main-menu__link {
    @include font(60px, 1.18);
  }
}

@media (min-width: $desktop-width) {
  .main-menu {
    display: flex;
    align-self: center;
  }

  .main-menu__item {
    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  .main-menu__link {
    color: $white;

    @include font(20px, 1.5);
  }
}
