.main-header {
  position: relative;
  z-index: 2;

  width: 320px;
  margin: 0 auto;
  padding: 30px 25px 10px;

  background-color: $black-blue;
  border-radius: 0 0 20px 20px;
}

.main-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__current-page {
  margin: 0;

  color: $white;

  @include font(36px, 1.1, 700);

  &::before {
    bottom: -12.5px;

    width: 173px;
    height: 5px;

    background-color: $orange;
    border-radius: 2.4px;

    @include pseudo;
  }
}

.main-header__index-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: auto;
    padding: 90px 0 65px;

    border-radius: 0 0 60px 60px;
  }


  .main-header__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 75px;
  }

  .main-header__current-page {
    @include font(60px, 1.17);

    &::before {
      bottom: -69px;

      width: 287px;
      height: 8px;

      border-radius: 4px;
    }
  }

  .main-header__index-link {
    position: relative;

    display: initial;
    padding-right: 60px;

    color: $white;
    text-transform: uppercase;

    @include font(20px, 1.2, 700);

    &::before {
      top: 3px;
      right: 0;

      width: 32px;
      height: 16px;

      background: url("../img/svg/return.svg") no-repeat;

      @include pseudo;
    }

    &:hover,
    &:focus {
      color: rgba($white, 0.6);

      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      color: rgba($white, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .main-header {
    padding: 100px 0 65px;
  }

  .main-header__wrapper {
    width: 1440px;
    padding-right: 125px;
    padding-left: 130px;
  }

  .main-header__current-page {
    &::before {
      left: 130px;
    }
  }
}
