.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 45px 25px 30px;
  margin-left: -25px;

  background-color: $white;
}

.main-nav__list {
  align-self: center;
}

.main-nav__login-btn {
  margin-top: 55px;
  margin-bottom: 50px;

  text-align: center;
}

.main-nav__contacts .contacts__tel,
.main-nav__contacts .contacts__email {
  color: $grey-blue;
}

.main-nav__social {
  align-self: center;
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    top: 132px;

    display: flex;
    flex-direction: column;
    padding: 55px 100px 75px;
  }

  .main-nav__list {
    align-self: flex-start;
  }

  .main-nav__social {
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
  }
}
