.map {
  width: 320px; /* 4.7  ширина подстраивается под ширину вьюпорта - на табле и пк это выглядит норм, но на мобильной - ужас */
  margin: 0 auto;
  position: relative;
  margin-bottom: -60px;
}

.map__iframe {
  position: relative;
}

.map__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


@media (min-width: $tablet-width) {
  .map {
    width: 100%;
  }
}
