.modal {
  position: absolute;
  bottom: 1340px;
  left: 50%;
  z-index: 100;

  transform: translate(-50%, -50%);
  overflow: hidden;
  display: none;
}

.modal--opened {
  display: block;
}

@media (min-width: $tablet-width) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: unset;

    transform: translate(-50%, -50%);
  }
}
