.page-header {
  position: relative;
  z-index: 8;

  width: 320px;
  margin: 0 auto;
  padding: 27px 25px;

  background-color: $black-blue;

  &--white {
    background-color: $white;
  }
}

.page-header--white .main-nav--closed .main-nav__toggle::before {
  background-color: $white-grey;
  box-shadow: 0 8px 0 0 $white-grey;
}

.page-header__logo {
  display: block;
  width: 100px;
}

.page-header__logo-white,
.page-header__logo-blue {
  display: block;
  width: 100px;
  height: 19px;
}

.page-header__logo-blue {
  display: none;
}

.page-header--white .page-header__logo-white {
  display: none;
}

.page-header--white .page-header__logo-blue {
  display: block;
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .page-header {
    background-color: $bg-light-blue;

    &--white {
      background-color: $white;
    }

    &--notindex:not(.page-header--white) {
      background-color: $black-blue;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
    padding: 45px 0;
  }

  .page-header__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .page-header__logo {
    width: 166px;
  }

  .page-header__logo-white,
  .page-header__logo-blue {
    width: 166px;
    height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 50px 0 20px;

    &--white:not(.page-header--nojs) {
      padding: 20px 0;

      .main-nav__wrapper::before {
        left: 15px;

        width: 45px;

        background-color: $grey-blue;
      }

      .main-menu__link {
        color: $grey-blue;
      }
    }
  }

  .page-header--nojs {
    background-color: $black-blue;
  }

  .page-header--white.page-header--nojs .page-header__logo-white {
    display: initial;
  }

  .page-header--white.page-header--nojs .page-header__logo-blue {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    width: 1440px;
    padding: 0 60px;
  }

  .page-header__logo {
    flex-shrink: 0;
    align-self: center;
    width: 200px;
    margin-right: 40px;
  }

  .page-header__logo-white,
  .page-header__logo-blue {
    width: 200px;
    height: 52px;
  }

  .page-header__nav {
    flex-grow: 1;
  }
}
