.registration {
  position: relative;
  z-index: 2;

  width: 320px;
  margin: 0 auto;
  margin-top: -30px;
  padding: 100px 25px 30px;

  background-color: $grey-blue;
  border-radius: 0 0 30px 30px;
}

.registration__wrapper {
  display: flex;
  flex-direction: column;
}

.registration__lead {
  margin-bottom: 20px;

  text-align: center;
  color: $orange;

  @include font(24px, 1);
}

.registration__text {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;
  color: $white;

  @include font(16px, 1.38, 300);
}

.registration__auth-link {
  color: $gold;

  border-bottom: 1px solid rgba($gold, 0.6);

  &:hover,
  &:focus {
    color: $orange;
    border-bottom-color: rgba($orange, 0.6);
  }

  &:active {
    color: rgba($orange, 0.3);
    border-bottom-color: rgba($orange, 0.3);
  }
}

.registration__email {
  width: 270px;
  height: 62px;
  margin-bottom: 28px;
  padding: 23px 84px 24px 24px;

  border: none;
  border-radius: 10px;

  @include font(18px, 1, 700);

  &::placeholder {
    color: rgba($grey, 0.3);
  }

  &:hover {
    background-color: $bg-silver;

    &::placeholder {
      color: rgba($grey, 0.5);
    }
  }

  &:invalid {
    color: $text-error;

    background-color: $bg-error;
  }

  &:focus {
    padding: 19px 80px 21px 20px;

    color: $white;

    background-color: $grey-blue;
    border: solid 4px $white;

    &::placeholder {
      color: $white;
    }
  }
}

.registration__form {
  position: relative;
}

.registration__btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 62px;

  span {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .registration {
    width: auto;
    padding: 127px 0 61px;
    margin-top: -55px;

    border-radius: 0 0 60px 60px;
  }

  .registration__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 75px;
  }

  .registration__lead {
    margin-bottom: 58px;

    @include font(45px, 1);
  }

  .registration__text {
    margin-bottom: 66px;

    @include font(28px, 1.18);

    br:nth-child(1),
    br:nth-child(3) {
      display: none;
    }
  }

  .registration__email {
    width: 536px;
    height: 81px;
    padding: 30px 35px 31px 34px;
    margin-bottom: 56px;

    border-radius: 20px 0 0 20px;

    @include font(24px, 1);

    &:focus {
      padding: 26px 31px 27px 30px;
    }
  }

  .registration__btn {
    width: 82px;
    height: 81px;

    border-radius: 0 20px 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .registration {
    padding: 157px 0 105px;
  }

  .registration__wrapper {
    width: 1440px;
    padding: 0 132px;
  }

  .registration__text {
    margin-bottom: 60px;
  }

  .registration__email {
    width: 850px;
    height: 81px;
    margin-bottom: 66px;
  }

  .registration__btn {
    width: 326px;
    height: 81px;

    span {
      display: initial;
    }
  }
}
