.review {
  margin: 0 -25px;
  padding: 46px 50px 0;

  background-color: $black-blue;
}

.review__text {
  width: 155px;
  margin: 0;
  margin-bottom: 18px;

  color: $white;

  @include font(16px, 1.38, 300);
}

.review__author {
  display: block;
  width: 155px;

  font-style: normal;
  color: $white;

  @include font(16px, 1.38, 700);
}

@media (min-width: $tablet-width) {
  .review {
    margin: 0;
    padding: 0;

    background-color: transparent;
  }

  .review__text {
    width: 260px;
    margin-bottom: 45px;

    @include font(28px, 1.18);
  }

  .review__author {
    width: 260px;

    @include font(21px, 1.19);
  }
}

@media (min-width: $desktop-width) {
  .review {
    margin-top: 13px;
  }

}
