.status {
  &::before {
    top: 23px;
    right: 22px;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    @include pseudo;
  }

  &--online::before {
    background-color: $green;
  }

  &--afk::before {
    background-color: $salmon;
  }
}

@media (min-width: $tablet-width) {
  .status {
    &::before {
      width: 7px;
      height: 7px;

      @include pseudo;
    }
  }
}
