.status {
  &::before {
    top: 7px;
    right: -63px;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    @include pseudo;
  }

  &--online::before {
    background-color: $green;
  }

  &--afk::before {
    background-color: $salmon;
  }
}

@media (min-width: $tablet-width) {
  .status {
    &::before {
      top: 13px;
      right: -30px;
      width: 7px;
      height: 7px;
    }
  }
}

@media (min-width: $desktop-width) {
  .status {
    &::before {
      top: 13px;
      left: -20px;
    }
  }
}
