.travel-mode {
  font: 1em sans-serif;
}

@media (min-width: $tablet-width) {
  .travel-mode {
    font: 1em sans-serif;
  }
}

@media (min-width: $desktop-width) {
  .travel-mode {
    font: 1em sans-serif;
  }
}
