$tablet-width: 768px;
$desktop-width: 1440px;

$white: #ffffff;
$white-grey: #cccccc;
$grey: #444444;
$grey-light: #e2e5f2;
$blue: #1d2e5b;
$black-blue: #161c35;
$grey-blue: #192144;
$orange: #ff8d30;
$deep-orange: #f26926;
$gold : #ffd74b;
$mango: #ffa530;
$mango-light: #ffbd30;
$bg-silver: #edeff6;
$bg-blue: #141b3b;
$bg-light-blue: #182044;
$dark-blue: #121936;
$bg-error: #ffefef;
$text-error: #ff0000;
