$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx; /* @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {} */

$white: #ffffff;
$black: #000000;
$white-grey: #cccccc;
$grey: #444444;
$grey-light: #e2e5f2;
$blue: #1d2e5b;
$black-blue: #161c35;
$grey-blue: #192144;
$orange: #ff8d30;
$deep-orange: #f26926;
$gold : #ffd74b;
$mango: #ffa530;
$mango-light: #ffbd30;
$bg-silver: #edeff6;
$bg-blue: #141b3b;
$bg-light-blue: #182044;
$dark-blue: #121936;
$bg-error: #ffefef;
$text-error: #ff0000;
$grey-blue-light: #f3f4f8;
$blue-light: #edeff6;
$green: #81e31e;
$salmon: #f97676;
$bg-black-blue: #101d41;
$light-pink: #f9eaea;
$pink: #f9d8d8;
